@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Caveat+Brush&family=Lato&family=Montserrat:wght@300;400&family=Poppins:wght@300;400;500&family=Raleway:wght@500&family=Roboto:wght@300&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #eeee;
}
a:visited,
a:link {
  text-decoration: none;
}
ul {
  list-style: none;
}
h3 {
  font-size: 20px;
  padding: 0 10px;
}
h5,
h2z {
  padding: 0 10px;
}

header {
  display: flex;
  background-color: #252930;
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
}

.header_logo {
  color: white;
  font-size: 26px;
}

.nav_list {
  display: flex;
  align-items: center;
}
.nav_item {
  margin: 0 8px;
}

.nav_link {
  padding: 10px;
  color: #eeee;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}

.nav_link:hover {
  text-shadow: 0 0 10px #d35400;
  transform: scale(1.1);
  box-shadow: 0 0 10px #d35400;
}

#header_toggle,
#header_close {
  display: none;
}

/* hero */

.hero {
  display: flex;
}
.left {
  width: 50%;
  text-align: left;
}

.left_contet {
  margin: 100px 0 0 100px;
}

.left h1 {
  font-size: 48px;
  padding: 10px;
  background: -webkit-linear-gradient(60deg, #e21143, #ffb03a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  padding: 15px;
  margin: 10px;
  /* border-radius: 20px; */
  color: #eeee;
  border: none;
  background-color: #252930;
  width: 100px;
  font-family: 'Poppins';
}
.right {
  width: 50%;
  text-align: center;
}
.right img {
  margin: 50px;
  padding: 20px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* learncontent */
.learn {
  width: 100%;
}
.learn_content {
  margin: 10px 50px;
  text-align: center;
  background-color: #eeee;
  border-radius: 20px;
  height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.learn_content h1 {
  padding: 20px 0 0;
}
.learnimg {
  width: 150px;
  margin: 30px;
}
.learnlist {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.divone,
.divthree {
  display: flex;
  flex-direction: column;
}
.learnbtn {
  padding: 15px;
  margin: 15px 0px 15px 15px;
  /* margin-left: 100px; */
  /* border-radius: 20px; */
  color: #eeede7;
  border: none;
  background-color: #252930;
  width: 150px;
  font-family: 'Poppins';
}
.learnbtn:hover,
.learnbtn2:hover {
  text-shadow: 0 0 30px #d35400;
  transform: scale(1.1);
  box-shadow: 0 0 30px #d35400;
}
.learnbtn2 {
  padding: 15px;
  margin: 15px 15px 15px 0px;
  /* margin-left: 100px; */
  /* border-radius: 20px; */
  color: #eeede7;
  border: none;
  background-color: #252930;
  width: 150px;
  font-family: 'Poppins';
}

/* ///modules */
.module1 {
  width: 100%;
  margin-top: 100px;
}
.moduleleft {
  height: 700px;
  background-color: #252930;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(194, 194, 194, 0.3) 0px 30px 60px -30px,
    rgba(160, 160, 160, 0.35) 0px -2px 6px 0px inset;
  margin-left: 50px;
  border-bottom-left-radius: 20px;
  color: white;
}
.module_left_contet {
  padding: 10px;
  margin: 30px;
  padding: 20px;
}
.module_left_contet h1 {
  padding: 0px;
  font-weight: 500;
}

.moduleright {
  height: 700px;
  background-color: #eeee;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-bottom-right-radius: 20px;
}
.moduleright img {
  width: 500px;
  margin: 50px;
  padding: 20px;
}

.headrModule {
  background-color: white;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-between;
}
.heading h2 {
  margin: 10px 50px;
}
.rounds {
  padding: 5px;
  margin: 10px 20px;
}

/* // visual hirechy module 
*/
.visualHirechy {
  display: flex;
  /* flex-direction: row; */
}

.headspan {
  margin-top: 5px;
  display: inline;
  font-size: large;
  text-decoration: underline 2px #d35400;
  font-weight: 500;
}
.content {
  margin-top: 30px;
}
.para {
  /* margin-top: 5px; */
  font-size: 14px;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #252930;
  margin-top: 30px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  margin: 50px;
}
.container {
  /* margin: 20px; */
  display: flex;
  margin-left: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.thanking {
  text-align: center;
  margin: 50px 50px 0 0;
}
.thanking h1 {
  color: white;
  font-weight: 800;
  margin: 10px;
}
.thanking h3,
.foth5 {
  color: white;
  font-weight: 500;
}
.social {
  text-align: center;
  display: flex;
  height: 100px;
  margin-left: 0;
  margin-right: 60px;
  padding: 20px;
}

.social a i {
  font-size: 24px;
  color: #eeede7;
}
.social-icon {
  padding: 10px;
  margin: 10px;
  border-radius: 100px;
  /* background-color: #3b3b3b; */
}
.social-icon .fa-instagram:hover {
  background-color: #8a3ab9;
  transition: 0.8s;

  transform: scale(1.2);
  border-radius: 20px;
  padding: 10px;
}
.social-icon .fa-youtube:hover {
  background-color: #ff0000;
  transition: 0.8s;
  transform: scale(1.2);
  border-radius: 20px;
  padding: 10px;
}
.social-icon .fa-dribbble:hover {
  background-color: #ea4c89;
  transition: 0.8s;
  transform: scale(1.2);
  border-radius: 20px;
  padding: 10px;
}
.social-icon .fa-behance:hover {
  background-color: #053eff;
  transition: 0.8s;
  transform: scale(1.2);
  border-radius: 20px;
  padding: 10px;
}

#topup {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 1;
  height: 3rem;
  width: 4rem;
  background-color: #252930;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #eeede7;
  color: white;
  border-radius: 100px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* // media */
@media (max-width: 768px) {
  header {
    height: 48px;
    justify-content: space-between;
    padding: 0 28px;
  }
  .header_logo {
    font-size: 20px;
  }

  #header_toggle {
    display: inline;
    color: #eeee;
    font-size: 24px;
  }
  #header_close {
    position: absolute;
    right: 24px;
    color: #eeee;
    display: block;
    border: 50%;
    font-size: 24px;
  }
  #header_close:hover {
    background-color: #00adb5;
  }
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #252930;
    height: 100vh;
    padding: 24px 0;
    width: 40%;
    z-index: 100;
    transition: 0.5s;
    border-radius: 0 0 0 50%;
  }
  .nav_list {
    display: flex;
    flex-direction: column;
  }
  .nav_item {
    margin: 2rem 0;
  }

  .show {
    right: 0;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
    text-align: center;
  }
  .left_contet {
    margin: 30px;
  }
  .left h1 {
    margin: 0px;
    font-size: 28px;
  }
  .right {
    width: 100%;
  }
  .right img {
    height: 300px;
  }

  /* //learningcontent */
  .learn_content {
    margin: 20px 50px;
  }

  .learnbtn,
  .learnbtn2 {
    height: 50px;
    padding: 10px;
    font-size: 12px;
    width: 150px;
  }
  .learnbtn:hover,
  .learnbtn2:hover {
    text-shadow: 0 0 10px #d35400;
    transform: scale(0.9);
  }

  .divone {
    flex-direction: column;
    margin-right: 100px;
  }
  .divtwo {
    display: none;
  }

  /* .learnbtn:hover,
  .learnbtn2:hover {
    color: #ffa502;
    box-shadow: 0 0 8px #d35400;
    text-shadow: 0 0 8px #d35400;
    transform: scale(1.2);
  } */

  /* //module */
  .divone {
    flex-direction: column;
    margin-right: 50px;
  }

  .module1 {
    width: 100%;
  }
  .visualHirechy {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .moduleleft,
  .moduleright {
    display: flex;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 0;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .moduleright img {
    align-items: center;
    width: 400px;
    margin: 10px;
    margin-top: 30px;
  }
  .module_left_contet h1 {
    font-size: 20px;
  }
  .module_left_contet p {
    font-size: 14px;
  }

  /* //cotent */
  .headspan {
    margin-top: 5px;
    display: inline;
    font-size: 16px;
    text-decoration: underline 2px #d35400;
    font-weight: 400;
  }
  .content {
    margin-top: 20px;
  }
  .para {
    /* margin-top: 5px; */
    margin-bottom: 15px;
  }

  /* //social */
  .thanking h1 {
    color: white;
    font-weight: 600;
    margin: 10px;
  }
  .thanking h3 {
    font-size: 16px;
  }
  .foth5 {
    font-size: 14px;
  }
}

@media (max-width: 645px) {
  .rounds {
    width: 100px;
  }
  .heading h2 {
    padding: 5px;
    font-size: 16px;
  }
  .moduleright img {
    width: 450px;
  }
  .moduleright img {
    align-items: center;
    width: 380px;
    margin: 10px;
    margin-top: 30px;
  }
  .container img {
    height: 150px;
    margin: 30px;
  }
}
@media (max-width: 530px) {
  .learn_content {
    margin: 0px 50px;
  }
  .divone {
    flex-direction: column;
    margin-right: 50px;
  }
  .learnbtn,
  .learnbtn2 {
    height: 40px;
    padding: 10px;
    font-size: 10px;
    width: 100px;
  }
  .learn_content {
    height: 320px;
  }
  .rounds {
    width: 100px;
  }

  .heading h2 {
    padding: 5px;
    font-size: 12px;
  }
  .moduleleft {
    height: 500px;
  }
  .moduleright {
    height: 400px;
  }
  .moduleright img {
    width: 300px;
  }
  h1 {
    font-size: 22px;
  }
  .module_left_contet {
   align-items: center;
    justify-content: center;
    height: 600px;
    margin: 20px;
    padding: 20px;
  }
  .module_left_contet h1 {
    font-size: 18px;
  }
  .module_left_contet p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .moduleright {
    height: 400px;
  }
  .module_left_contet {
     align-items: center;
    justify-content: center;
    height: 600px;
    padding: 10px;
    margin: 20px;
  }
  /* .moduleright {
    padding: 10px;
    margin: 20px;
  } */
  .module_left_contet h1 {
    font-size: 16px;
  }
  .module_left_contet p {
    font-size: 10px;
  }
  .heading h2 {
    font-size: 12px;
  }
  .para {
    font-size: 14px;
  }
  .headrModule {
    display: flex;
    /* justify-content: safe; */
  }
}

@media (max-width: 440px) {
  header {
    width: 100%;
  }
  .module_left_contet {
     align-items: center;
    justify-content: center;
    height: 600px;
    padding: 10px;
    margin: 20px;
  }
  /* .moduleright {
    padding: 10px;
    margin: 20px;
  } */
  .module_left_contet h1 {
    font-size: 18px;
  }
  .module_left_contet p {
    font-size: 10px;
  }
  .heading h2 {
    font-size: 12px;
  }
  .para {
    font-size: 14px;
  }
  .headrModule {
    display: flex;
    /* justify-content: safe; */
  }
}
